<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/@ipheion/bakery@0.6.2"></script>
    <!-- <script src="/bakery.js"></script> -->
    <script>
      window.empty = "";

      document.addEventListener("DOMContentLoaded", (event) => {
        document.body.addEventListener("ImageAdded", (event) => {
          const input = new FormData();
          input.append("file", event.File);
          event.URL = fetch("/api/app-data/static/images", { method: "POST", body: input })
            .then((r) => r.json())
            .then((j) => j.url);
        });
      });
    </script>
  </head>
  <body>
    <l-header>
      <t-link href="/" spa>Home</t-link>
      <t-link href="/pages" spa>Pages</t-link>
      <t-link href="/series" spa>Series</t-link>
      <t-link href="/authors" spa>Authors</t-link>
      <t-link href="/tags" spa>Tags</t-link>
      <t-link href="/templates" spa>Templates</t-link>
    </l-header>
    <u-fetch url="/api/app-data" name="data">
      <div>
        <l-container>
          <u-route path="/" exact>
            <l-row>
              <l-col xs="12">
                <f-button type="button" onclick="fetch('/api/app-data/compile', { method: 'post' })">Build the App</f-button>
              </l-col>
            </l-row>
            <d-card>
              <span slot="title">Initialise Your Project</span>
              <f-form url="/api/app-data/init" success-url="/templates" method="post">
                <l-row>
                  <l-col xs="12">
                    <f-input name="package_name">Package Name</f-input>
                  </l-col>
                  <l-col xs="12">
                    <f-toggle name="use_pages" prefill="on">
                      Use GitHub pages?
                      <span slot="on">Yes</span>
                      <span slot="off">No</span>
                    </f-toggle>
                  </l-col>
                  <l-col xs="12">
                    <f-button type="submit">Initialise Site</f-button>
                  </l-col>
                </l-row>
              </f-form>
            </d-card>
          </u-route>
          <u-route path="/pages">
            <l-templated use="/components/pages" remote></l-templated>
          </u-route>

          <u-route path="/series">
            <l-templated use="/components/series" remote></l-templated>
          </u-route>

          <u-route path="/authors">
            <l-templated use="/components/authors" remote></l-templated>
          </u-route>

          <u-route path="/templates">
            <l-templated use="/components/templates" remote></l-templated>
          </u-route>

          <u-route path="/tags">
            <l-templated use="/components/tags" remote></l-templated>
          </u-route>
        </l-container>
      </div>
    </u-fetch>
  </body>
</html>
