@toolkit:registry=https://git.paulandsophie.uk/toolkit/~npm/
//git.paulandsophie.uk/toolkit/~npm/:email="${NPM_USERNAME}"
//git.paulandsophie.uk/toolkit/~npm/:_auth="${NPM_AUTH_TOKEN}"
//git.paulandsophie.uk/toolkit/~npm/:always-auth=true